*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
    margin-left: 20px;
}

input{
    width: 210px;
}

button{
    border-radius: 100px;
}


.cabecario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.pesquisa{
    display: grid;
    grid-template-columns: 230px 230px;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    position: relative;
    margin-top: auto;
    margin-left: -400px;
}

.opcoes{
    display: grid;
    grid-template-columns: 38px 38px 38px 38px 38px 38px 38px 38px 38px 38px 38px 38px 38px 38px 38px;
    grid-template-rows: 1fr;
    gap: 40px;
    position: relative;
    margin-top: 30px;
    margin-left: 10px;

}

.base{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px;
    gap: 10px 150px;
    position: relative;
    margin-top: -200px;
}

.image{
    border-style: solid;
    height: 450px;
    width: 1000px;
}

.opcoes-base{
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px;

}

.opcoes-2{
    background-color: grey;
    border-style: solid;
    height: 50px;
    width: 160px;
}

.footer{
    display: grid;
}

.featured{
    border-style: solid;
}

.gerancia-produtos{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 200px 250px;
    border-style: solid;
}

.produtos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 10px;
    margin-top: 10px;
}

.t{
    position: relative;
    margin-left: -100px;
}

.txt{
    position: relative;
    margin-left: -100px;
    margin-top: -90px;
}

.btn{
    position: relative;
    margin-top: 5px;
    margin-left: 180px;
    height: 30px;
    width: 100px;
}

.bloco{
    border-style: solid;
    height: 584px;
    width: 400px;
    position: relative;
    margin-top: -598px;
    margin-left: 850px;
}

.bloco2{
    background-color: #000;
    height: 35px;
    width: 1260px;
    position: relative;
    margin-left: 15px;
}